<footer class="site-footer h-card">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>

    <div class="wrapper">

        <h2 class="footer-heading">{{ site.title | escape }}</h2>

        <div class="footer-col-wrapper">
            <div class="footer-col footer-col-3">
                <ul class="contact-list">
                    <!--<li class="p-name">-->
                        <!--{%- if site.author -%}-->
                        <!--{{ site.author | escape }}-->
                        <!--{%- else -%}-->
                        <!--{{ site.title | escape }}-->
                        <!--{%- endif -%}-->
                    <!--</li>-->
                    {%- if site.email -%}
                    <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
                    {%- endif -%}
                </ul>
            </div>

            <div class="footer-col footer-col-2">
            </div>

            <div class="footer-col footer-col-1">
                {%- include social.html -%}
            </div>

            <!--<div class="footer-col footer-col-3">-->
                <!--<p>{{- site.description | escape -}}</p>-->
            <!--</div>-->
        </div>

        <div class="footer-col-wrapper">
            <p>
                <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;height=400&amp;wkst=2&amp;bgcolor=%23FFFFFF&amp;src=thechongcher%40gmail.com&amp;color=%23125A12&amp;ctz=Asia%2FSingapore" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
            </p>
        </div>

    </div>

</footer>
